:root {
  --back: #ddd;
  --hard-contrast: #555555;
  --medium-contrast: #aaa;
  --soft-contrast: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--back);
  padding: 10px;
}

h1,h2 {
	margin: 0;
}

.title {
	background-color:var(--medium-contrast);
	font-family:"Courier New";
	font-size:1.2em;
	text-align: center;
	border-radius: 8px;
	width: 99.5%;
	padding: 10px 0px 1px 0px;
	margin: 3px;
}

.flex-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1200px) {
  .flex-button-bar {
    flex-direction: column;
  }
}

.flex-content {
    display: flex;
    flex-direction: column; /* Cambia a columna para apilar los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* Alinea los elementos al inicio de la columna */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px; /* Añade un poco de espacio alrededor */
}

.midi-button {
    margin-bottom: 20px; /* Añade espacio debajo del botón */
}

.pdf-iframe {
    width: 100%; /* Asegura que el iframe ocupe todo el ancho del contenedor */
    max-width: 1000px; /* Limita el ancho máximo */
    height: 80vh; /* Ajusta la altura al 80% de la vista */
    border: none; /* Elimina el borde del iframe */
}

.midi-player {
    text-align: center;
    margin-bottom: 20px;
}

.midi-button {
    margin-bottom: 20px;
}

.pdf-iframe {
    width: 100%;
    max-width: 1000px;
    height: 80vh;
    border: none;
}

#chords-table {
  border-collapse: collapse;
  width: 300px;
  border-spacing: 12px;
}

#chords-table th {
  border-bottom: 1px solid var(--hard-contrast);
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--hard-contrast);
  color: white;
}

#chords-table td {
  border-bottom: 1px solid var(--hard-contrast);
  background-color: var(--soft-contrast);
  padding: 8px;
}

#chords-table tr td:nth-child(2)  {
    text-align: center;
}

.button {
  background-color: var(--hard-contrast); 
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  flex-grow: 1;
}

.button:hover {
  opacity: 0.7;
}

.select {
  background-color: var(--medium-contrast); 
  border: none;
  border-radius: 8px;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  opacity: 0.9;
}

.select:hover {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: var(--medium-contrast);
  color: white;
}

